body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-home{
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(85, 36, 117);
}
.header-home h1{
    display: inline-block;
    position: absolute;
    top:1.5%;
    left: 10%;
    color: aliceblue;
}

.header-home img{
    width: 120px;
    height: 100px;
}
.header-home nav ul{
    padding: 0;
    margin: 0;
}
.header-home nav ul li{
    display: inline-block;
    padding: 4% 1em;
    font-size: 22px;
}
.header-home nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
    text-transform: uppercase;
    padding: .5em .8em;
    border: solid 1px white;
    transition: all .2s linear;
}
.header-home nav ul li a:hover{
    background-color: rgba(235, 232, 232,.2);
}
.header-home nav{
    float: right;
    margin-top: 1%;
    margin-right: 10%;
}

main{
    background-color: rgb(220, 206, 235);
}

h2{
    color: rgb(53, 53, 53);
    font-size: 30px;
    margin-top:0;
    padding-top: 1em;
    text-align: center;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

.livros-section{
    width: 80%;
    margin: auto;
    overflow: auto;
}

.livros-section ul li{
    margin-top: 1%;
    text-decoration: underline;
}
.livros-section ul{
    margin-top:3%;
}

.livros-section .card{
    margin-top: 5%;
}
.livros-section article{
    width: 30%;
    height: 450px;
    float: left;
    background-color: rgb(87, 126, 160);
    margin-bottom: 5%;
    position: relative;
    
}
.livros-section article a{
    position:absolute;
    bottom:0;
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top:1em;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    transition: all .2s linear;
}
.livros-section article a:hover{
    background-color: rgb(44, 0, 61);
    color: white;
}
.livros-section article:nth-child(3n-1){
    margin-right:5%;
    margin-left:5%;
}

footer{
    color: black;
    text-align: center;
    height: 70px;
    background-color: rgb(82, 82, 82);
    color: white;
}

footer p{
    margin-top:0;
    padding-top: 1.5%;
}

.title-reserva{
    margin-bottom:5%;
}

h3{
    text-transform: uppercase;
}
ul{
    margin-bottom:10%;
}

.button{
    text-decoration: none;
    padding: 1% 4%;
    background-color: rgb(23, 0, 85);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    transition: all .2s linear;
    font-weight: 600;
}
.button:hover{
    background-color: rgb(56, 56, 185);
}